:root {
  --mntn-blue: #0B1D26;
  --mntn-yellow: #FBD784;
  --clearly-white: #ffffff;
  --cubic--bezier: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: Gilroy-500;
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-700;
  src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-800;
  src: url(../fonts/Gilroy-Extrabold.ttf);
}
@font-face {
  font-family: Chronicle Display;
  src: url(../fonts/Chronicle-Display-Roman.otf);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: Gilroy-700, sans-serif;
  color: var(--clearly-white);
  background-color: var(--mntn-blue);
  background-image: url(../images/bg_image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 0 left 0;
  overflow: overlay;
  scrollbar-gutter: stable both-edges;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  margin: 20px 0;
  opacity: 0;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--mntn-yellow);
  border-radius: 4px;
  border: 6px solid transparent;
}

.container {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0;
  }
}

.first_container {
  max-width: 1760px;
}

.second_container {
  max-width: 1462px;
}

.standart_text {
  font-size: 18px;
  line-height: 1.2222222222;
}

.pre_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Gilroy-800;
  line-height: /;
  letter-spacing: 6px;
  color: var(--mntn-yellow);
  text-transform: uppercase;
}
.pre_title::before {
  display: inline-block;
  content: "";
  width: 72px;
  height: 2px;
  margin-right: 32px;
  background-color: var(--mntn-yellow);
}

.minor_title {
  max-width: 555px;
  margin-bottom: 27px;
  font-family: Chronicle Display;
  font-size: 64px;
  line-height: 1.203125;
}

.after_title {
  font-size: 18px;
  line-height: 1.7777777778;
}

.icon {
  cursor: pointer;
  fill: currentColor;
}

.transform_with_scale {
  -webkit-transition: var(--cubic--bezier);
  transition: var(--cubic--bezier);
}
.transform_with_scale:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--mntn-yellow);
}

.transform_color {
  -webkit-transition: var(--cubic--bezier);
  transition: var(--cubic--bezier);
}
.transform_color:hover {
  color: var(--mntn-yellow);
}

.header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Chronicle Display;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  font-size: 18px;
  line-height: 1.2222222222;
  cursor: pointer;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1.2352941176;
}

.header__button_icon {
  margin-right: 8px;
}

.main {
  padding-top: 134px;
  padding-bottom: 200px;
}

.hero {
  padding-bottom: 843px;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__social_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 110px;
}

.hero__social_text {
  position: absolute;
  top: -70px;
  right: -25px;
  width: 77px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  -webkit-transition: var(--cubic--bezier);
  transition: var(--cubic--bezier);
}
.hero__social_text:hover {
  -webkit-transform: rotate(90deg) scale(1.1);
          transform: rotate(90deg) scale(1.1);
  color: var(--mntn-yellow);
}

.hero__social_item:not(:last-child) {
  margin-bottom: 24px;
}

.hero__title_wrap {
  max-width: 950px;
  margin: 0 auto;
}

.hero__pre_title,
.hero__title {
  margin-bottom: 33px;
}

.hero__title {
  font-family: Chronicle Display;
  font-size: 88px;
  line-height: 1.1363636364;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__button--yellow {
  color: var(--mntn-yellow);
  -webkit-transition: var(--cubic--bezier);
  transition: var(--cubic--bezier);
}
.main__button--yellow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--clearly-white);
}

.main__button_icon {
  margin-left: 8px;
}
.main__button_icon--right {
  margin-left: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hero__slider_wrap {
  position: fixed;
  top: 38%;
  right: 4%;
}

.hero__slider_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__slider_item:not(:last-child) {
  margin-bottom: 40px;
}

.hero__slider_controller {
  width: 2px;
  height: 260px;
  display: block;
  background-color: #c0c0c0;
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__slider_line1,
.hero__slider_line2,
.hero__slider_line3,
.hero__slider_line4 {
  height: 80px;
  width: 10px;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__slider_active {
  width: 3px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: var(--cubic--bezier);
  transition: var(--cubic--bezier);
}

.step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.step__item:not(:last-child) {
  margin-bottom: 200px;
}
.step__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.step__wrap {
  position: relative;
  padding-top: 141px;
  padding-right: 114px;
  padding-bottom: 140px;
  padding-left: 150px;
}
.step__wrap--middle {
  padding-right: 0;
  padding-left: 264px;
}
@media screen and (max-width: 1199px) {
  .step__wrap {
    padding-right: 57px;
    padding-left: 55px;
  }
  .step__wrap--middle {
    padding-left: 100px;
  }
}

.step__number {
  position: absolute;
  top: 5%;
  left: 0;
  font-size: 240px;
  line-height: 1;
  opacity: 0.1;
}
.step__number--middle {
  left: 12%;
}

.step__pre_title {
  margin-bottom: 27px;
}

.step__after_title {
  max-width: 632px;
  margin-bottom: 27px;
}

.step__image {
  max-width: 566px;
  max-height: 720px;
}
@media screen and (max-width: 1199px) {
  .step__image {
    max-width: 333px;
    max-height: 460px;
  }
}

.footer {
  padding-bottom: 120px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo_wrap {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__logo__after_title {
  margin-bottom: 154px;
}

.copyright {
  font-family: Gilroy-500;
  opacity: 0.5;
}

.footer__blog_wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.3333333333;
  color: var(--mntn-yellow);
}

.footer__after_title {
  font-family: Gilroy-500;
}

.footer__item {
  cursor: pointer;
}
.footer__item:not(:last-child) {
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */