.footer {
	padding-bottom: 120px;
}

.footer__wrap {
	display: flex;
}

.footer__logo_wrap {
	max-width: 347px;
	margin-right: auto;
}

.footer__logo {
	display: block;
	margin-bottom: 24px;
}

.footer__logo__after_title {
	margin-bottom: 154px;
	max-width: 303px;
}

.copyright {
	font-family: Gilroy-500;
	opacity: 0.5;
}

.footer__blog_more_wrap {
	display: flex;
}

.footer__blog_wrap {
	max-width: 193px;
	margin-right: 212px;
	@include smaller_than_desk {
		margin-right: 100px;
	}
}

.footer__title {
	margin-bottom: 24px;
	@include font(24px, null, 32px, null);
	color: var(--mntn-yellow);
}

.footer__after_title {
	font-family: Gilroy-500;
}

.footer__item {
	cursor: pointer;
	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

.footer__more_wrap {
	max-width: 161px;
}