.container {
	width: 100%;
	padding-right: 80px;
	padding-left: 80px;
	margin: 0 auto;
	@include not_desk {
		padding: 0;
	}
}

.first_container {
	max-width: 1760px;
}

.second_container {
	max-width: 1462px;
}

.standart_text {
	@include font(18px, null, 22px, null);
}

.pre_title {
	display: flex;
	align-items: center;
	font-family: Gilroy-800;
	@include font(null, null, null, 6px);
	color: var(--mntn-yellow);
	text-transform: uppercase;
	&::before {
		display: inline-block;
		content: '';
		width: 72px;
		height: 2px;
		margin-right: 32px;
		background-color: var(--mntn-yellow);
	}
}

.minor_title {
	max-width: 555px;
	margin-bottom: 27px;
	font-family: Chronicle Display;
	@include font(64px, null, 77px, null);
}

.after_title {
	@include font(18px, null, 32px, null);
}

.icon {
	cursor: pointer;
	fill: currentColor;
}

.transform_with_scale {
	transition: var(--cubic--bezier);
	&:hover {
		transform: scale(1.1);
		color: var(--mntn-yellow);
	}
}

.transform_color {
	transition: var(--cubic--bezier);
	&:hover {
		color: var(--mntn-yellow);
	}
}