.header {
	padding-top: 64px;
	padding-bottom: 64px;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: Chronicle Display;
	@include font(32px, null, 38px, 0.01em);
	cursor: pointer;
}

.nav__list {
	display: flex;
}

.nav__item {
	@include font(18px, null, 22px, null);
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 40px;
	}
}

.header__button {
	display: flex;
	align-items: center;
	@include font(17px, null, 21px, null);
}

.header__button_icon {
	margin-right: 8px;
}
