.main {
	padding-top: 134px;
	padding-bottom: 200px;
}

.hero {
	padding-bottom: 843px;
}

.hero__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__social_wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 110px;
}

.hero__social_text {
	position: absolute;
	top: -70px;
	right: -25px;
	width: 77px;
	transform: rotate(90deg);
	cursor: pointer;
	transition: var(--cubic--bezier);
	&:hover {
		transform: rotate(90deg) scale(1.1);
		color: var(--mntn-yellow);
	}
}

.hero__social_item {
	&:not(:last-child) {
		margin-bottom: 24px;
	}
}

.hero__title_wrap {
	max-width: 950px;
	margin: 0 auto;
}

.hero__pre_title,
.hero__title {
	margin-bottom: 33px;
}

.hero__title {
	font-family: Chronicle Display;
	@include font(88px, null, 100px, null);
}

.main__button {
	display: flex;
	align-items: center;
	&--yellow {
		color: var(--mntn-yellow);
		transition: var(--cubic--bezier);
		&:hover {
			transform: scale(1.1);
			color: var(--clearly-white);
		}
	}
}

.main__button_icon {
	margin-left: 8px;
	&--right {
		margin-left: 16px;
		transform: rotate(-90deg);
	}
}

.hero__slider_wrap {
	position: fixed;
	top: 38%;
	right: 4%;
	@include smaller_than_tab {
		top: 35%;
	}
	@include smaller_than_tel {
		top: 23%;
	}
}

.hero__slider_list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hero__slider_item {
	&:not(:last-child) {
		margin-bottom: 40px;
	}
}

.hero__slider_controller {
	width: 2px;
	height: 260px;
	display: block;
	background-color: #c0c0c0;
	position: fixed;
	top: 50%;
	right: 3%;
	transform: translateY(-50%);
	@include smaller_than_tab {
		top: 45%;
	}
	@include smaller_than_tel {
		top: 30%;
	}
}

.hero__slider_line1, 
.hero__slider_line2, 
.hero__slider_line3, 
.hero__slider_line4 {
	height: 80px;
	width: 10px;
	cursor: pointer;
	transform: translateX(-50%);
}

.hero__slider_active {
	width: 3px;
	height: 60px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 1px;
	transform: translateX(-50%);
	transition: var(--cubic--bezier);
}

.step__item {
	display: flex;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 200px;
	}
	&:nth-child(2) {
		flex-direction: row-reverse;
	}
}

.step__wrap {
	position: relative;
	padding-top: 141px;
	padding-right: 114px;
	padding-bottom: 140px;
	padding-left: 150px;
	&--middle {
		padding-right: 0;
		padding-left: 264px;
	}
	@include smaller_than_desk {
		padding-right: 57px;
		padding-left: 55px;
		&--middle {
			padding-left: 100px;
		}
	}
}

.step__number {
	position: absolute;
	top: 5%;
	left: 0;
	@include font(240px, null, 240px, null);
	opacity: 0.1;
	&--middle {
		left: 12%;
	}
}

.step__pre_title {
	margin-bottom: 27px;
}

.step__after_title {
	max-width: 632px;
	margin-bottom: 27px;
}

.step__image {
	max-width: 566px;
	max-height: 720px;
	@include smaller_than_desk {
		max-width: 333px;
		max-height: 460px;
	}
}